modules = ["cpp", "python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["cmake", "xorg.libX11", "xorg.libXrandr", "xorg.libXi", "xorg.libXcursor", "xorg.libXinerama", "libGL", "libGLU", "glfw", "glm", "assimp", "glew", "stb", "nlohmann_json", "sfml", "zip", "unzip", "imagemagick"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Build and Run 3D Model Painter"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "vnc_3d_model_painter"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Simple 3D Model Painter"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "3D Model Painter"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Colorful 3D Model Painter"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Interactive Colorful 3D Model Painter"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Fun 3D Model Painter"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Enhanced Model Painter"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Enhanced Model Painter Demo"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Enhanced Fun Model Painter"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Simple GUI Application"

[[workflows.workflow]]
name = "Build and Run 3D Model Painter"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mkdir -p build && cd build && cmake .. && make -j$(nproc) && ./3DModelPainter"
waitForPort = 5000

[[workflows.workflow]]
name = "vnc_3d_model_painter"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd simple_build && ./SimpleModelPainter"

[[workflows.workflow]]
name = "Run Simple 3D Model Painter"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd simple_build && ./SimpleModelPainter --demo"

[[workflows.workflow]]
name = "3D Model Painter"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./3DModelPainter"

[[workflows.workflow]]
name = "Run Colorful 3D Model Painter"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./ColorModelPainter --demo"

[[workflows.workflow]]
name = "Run Interactive Colorful 3D Model Painter"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./ColorModelPainter"

[[workflows.workflow]]
name = "Run Fun 3D Model Painter"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -std=c++17 FunModelPainter.cpp -o FunModelPainter && ./FunModelPainter"

[[workflows.workflow]]
name = "Run Enhanced Model Painter"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./EnhancedModelPainter"

[[workflows.workflow]]
name = "Run Enhanced Model Painter Demo"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./EnhancedModelPainter --demo"

[[workflows.workflow]]
name = "Run Enhanced Fun Model Painter"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./EnhancedFunModelPainter"

[[workflows.workflow]]
name = "Run Simple GUI Application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./ShaderSketch_GUI_Simple"

[deployment]
run = ["sh", "-c", "mkdir -p build && cd build && cmake .. && make -j$(nproc) && ./3DModelPainter"]
