modules = ["cpp"]

[nix]
channel = "stable-24_05"
packages = ["cmake", "xorg.libX11", "xorg.libXrandr", "xorg.libXi", "xorg.libXcursor", "xorg.libXinerama", "libGL", "libGLU", "glfw", "glm", "assimp", "glew", "stb", "nlohmann_json", "sfml"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Build and Run 3D Model Painter"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "vnc_3d_model_painter"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Simple 3D Model Painter"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "3D Model Painter"

[[workflows.workflow]]
name = "Build and Run 3D Model Painter"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mkdir -p build && cd build && cmake .. && make -j$(nproc) && ./3DModelPainter"
waitForPort = 5000

[[workflows.workflow]]
name = "vnc_3d_model_painter"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd simple_build && ./SimpleModelPainter"

[[workflows.workflow]]
name = "Run Simple 3D Model Painter"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd simple_build && ./SimpleModelPainter --demo"

[[workflows.workflow]]
name = "3D Model Painter"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./3DModelPainter"

[deployment]
run = ["sh", "-c", "mkdir -p build && cd build && cmake .. && make -j$(nproc) && ./3DModelPainter"]
